:root {
  --yellow: #f7d967;
  --blue: #3db3d0;
  --red: #c24347;
  --pink: #aa5a9c;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: #000;
  color: var(--white);
}

.banner {
  width: 100%;
  height: 100svh;
  min-height: fit-content;
  padding: 32px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  &__loading {
    width: 150px;
    height: fit-content;
    max-width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    &-frame {
      width: 100%;
      height: 10px;
      margin: 0 0 12px;
      border-radius: 18px;
      overflow: hidden;
    }

    &-bar {
      width: 0%;
      height: 100%;
      border-radius: 18px;
      background-color: var(--white);
    }

    &-num {
      width: fit-content;
      margin: auto;
      font-weight: bold;
      display: block;
    }
  }

  &__title {
    width: 650px;
    max-width: 75vw;
    stroke-width: 12px;
    stroke: var(--yellow);
    stroke-width: 15px;
    stroke-linejoin: round;
    position: relative;
    z-index: 1;

    path {
      opacity: 0;
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    pointer-events: none;

    &-path {
      width: 130%;
      position: absolute;
      left: -10%;
      top: 15%;
      opacity: 0;
    }

    &-eagle {
      $max-width: Min(120px, 10vw);
      width: $max-width;
      position: absolute;
      left: -10%;
      top: calc(15% - ($max-width / 2));
    }
  }
}