:root {
  --yellow: #f7d967;
  --blue: #3db3d0;
  --red: #c24347;
  --pink: #aa5a9c;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: #000;
  color: var(--white);
}

.banner {
  width: 100%;
  height: 100svh;
  min-height: fit-content;
  padding: 32px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__loading {
    width: 150px;
    height: fit-content;
    max-width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    &-frame {
      width: 100%;
      height: 10px;
      margin: 0 0 12px;
      border-radius: 18px;
      overflow: hidden;
    }

    &-bar {
      width: 0%;
      height: 100%;
      border-radius: 18px;
      background-color: var(--white);
    }

    &-num {
      width: fit-content;
      margin: auto;
      font-weight: bold;
      display: block;
    }
  }

  &__title {
    width: 650px;
    max-width: 75vw;
    stroke-width: 12px;
    stroke: var(--yellow);
    stroke-width: 15px;
    stroke-linejoin: round;
    position: relative;
    z-index: 1;

    path {
      background-color: #333;
    }
  }

  &__meteor {
    width: 3px;
    height: 80px;
    background-color: var(--white);
    border-radius: 8px;
    transform: rotate(60deg);
    position: absolute;
    // opacity: 1;
    pointer-events: none;

    &:nth-last-child(1) {
      left: 26%;
      top: 15%;
    }

    &:nth-last-child(2) {
      left: 20%;
      top: 63%;
    }

    &:nth-last-child(3) {
      right: 20%;
      top: 12%;
    }

    &:nth-last-child(4) {
      right: 28%;
      top: 68%;
    }
  }
}